<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manong.dao.IBookDao">

    <resultMap id="queBook" type="com.manong.entity.WBook">
         <result property="bid" column="b_id"></result>
         <result property="bname" column="b_name"></result>
         <result property="bauthor" column="b_author"></result>
         <result property="bprice" column="b_price"></result>
         <result property="bpicname" column="b_picname" ></result>
         <result property="bpictime" column="b_pictime" ></result>

        <association property="wCategory" select="com.manong.dao.ICategoryDao.queCateById" column="b_category"></association>
    </resultMap>
</mapper>
